
<!DOCTYPE html>
  <head>
    <title>{{data.moviename}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
      <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
      <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
      <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
      <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
      <link rel="stylesheet" href="/resources/demos/style.css">
      <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
      <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
      </head>
  <body>
  <nav class="navbar navbar-expand-lg navbar-light bg-warning">
    <a class="navbar-brand" href="#">MOVIEHUB</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Book Movies</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Help</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
  <div class="container-*-* justify-content-center pt-2">
    <div class="header row">
      <div class="col-12">	
        <h3 class="display-3 text-center">{{data.movie_heading}}</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-10 text-dark justify-content-center p-5">
        <p class="text-uppercase font-weight-bold" style="letter-spacing:2px;">{{data.movie_review}}</p>
      </div>
      <div class="right col-2">
        <img src="{{data.movie_image.url}}" height="250px" width="200px">
      </div>
    </div>
    <div class="text-center">
      <form method="POST" enctype="multipart/form-data"> 
        {% csrf_token %}
        <input name="date" type="text" id="date_ex" >
        <button id="buy_now_btn" class="btn btn-primary">Book Now</button>
      </form> 
      <p>{{data.date_of_end|date:"Y,m,d"}}</p>
      <script>
        $(function() {
          $( "#date_ex" ).datepicker({
          showAnim: "fold",
          dateFormat: "yy-mm-dd",
          minDate: new Date({{data.date_of_start|date:"Y,m-1,d"}}),
          maxDate: new Date({{data.date_of_end|date:"Y,m-1,d"}}),
        });
      });
  </script>
    </div>
  </div>
  </body>
</html>




