 {% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>MovieHub Seat Booking</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script>
            addEventListener("load", function () {
                setTimeout(hideURLbar, 0);
            }, false);

            function hideURLbar() {
                window.scrollTo(0, 1);
            }
        </script>
        <link rel="stylesheet" href="{% static '' %}" type="text/css" media="all"> 
        <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i" rel="stylesheet">
    </head>
    <body onload="onLoaderFunc()">
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
            <a class="navbar-brand" href="#">MovieHub</a>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link 2</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link 3</a>
                </li>
            </ul>
        </nav>
        <div class="container p-5 my-3 bg-dark text-white">
            <div>
                <div class="inputForm">
                    <p class = "h3 p-3" align = "center">Select The Number of Seats And Book Your Show</p>
                    <div class="form-row">
                        <div class="col">
                            <label> Name
                                <span>*</span>
                            </label>
                            <input type="text" id="Username" required>
                        </div>
                        <div class="col-right">
                            <label> Number of Seats
                                <span>*</span>
                            </label>
                            <input type="number" id="Numseats" required min="1">
                        </div>
                    </div>
                </div>
                <button class="btn btn-primary btn-block m-3" onclick="takeData()">Start Selecting</button>
            </div>
            <ul>
                <li>Selected Seat</li>

                <li>Reserved Seat</li>

                <li>Empty Seat</li>
            </ul>
            <div class="seatStructure" style="overflow-x:auto;">
                <table id="seatsBlock">
                    <p id="notification"></p>
                    <tr>
                        <td></td>
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                        <td>4</td>
                        <td>5</td>
                    </tr>
                    <form method="POST" enctype="multipart/form-data" id = "form1">
                        {% csrf_token %}
                        <tr>
                            <td>A</td>
                            <td>
                                {{form.A1}}
                            </td>
                            <td>
                                {{form.A2}}
                            </td>
                            <td>
                                {{form.A3}}
                            </td>
                            <td>
                                {{form.A4}}
                            </td>
                            <td>
                                {{form.A5}}
                            </td>
                            
                        </tr>

                        <tr>
                            <td>B</td>
                            <td>
                                {{form.B1}}
                            </td>
                            <td>
                                {{form.B2}}
                            </td>
                            <td>
                                {{form.B3}}
                            </td>
                            <td>
                                {{form.B4}}
                            </td>
                            <td>
                                {{form.B5}}
                            </td>
                            
                        </tr>

                        <tr>
                            <td>C</td>
                            <td>
                                {{form.C1}}
                            </td>
                            <td>
                                {{form.C2}}
                            </td>
                            <td>
                                {{form.C3}}
                            </td>
                            <td>
                                {{form.C4}}
                            </td>
                            <td>
                                {{form.C5}}
                            </td>
                            
                        </tr>

                        <tr>
                            <td>D</td>
                            <td>
                                {{form.D1}}
                            </td>
                            <td>
                                {{form.D2}}
                            </td>
                            <td>
                                {{form.D3}}
                            </td>
                            <td>
                                {{form.D4}}
                            </td>
                            <td>
                                {{form.D5}}
                            </td>
                            
                        </tr>

                        <tr>
                            <td>E</td>
                            <td>
                                {{form.E1}}
                            </td>
                            <td>
                                {{form.E2}}
                            </td>
                            <td>
                                {{form.E3}}
                            </td>
                            <td>
                                {{form.E4}}
                            </td>
                            <td>
                                {{form.E5}}
                            </td>
                            
                        </tr>

                        <tr class="seatVGap"></tr>

                        <tr>
                            <td>F</td>
                            <td>
                                {{form.F1}}
                            </td>
                            <td>
                                {{form.E2}}
                            </td>
                            <td>
                                {{form.E3}}
                            </td>
                            <td>
                                {{form.E4}}
                            </td>
                            <td>
                                {{form.E5}}
                            </td>
                            
                        </tr>

                        <tr>
                            <td>G</td>
                            <td>
                                {{form.G1}}
                            </td>
                            <td>
                                {{form.G2}}
                            </td>
                            <td>
                                {{form.G3}}
                            </td>
                            <td>
                                {{form.G4}}
                            </td>
                            <td>
                                {{form.G5}}
                            </td>
                            
                        </tr>

                        <tr>
                            <td>H</td>
                            <td>
                                {{form.H1}}
                            </td>
                            <td>
                                {{form.H2}}
                            </td>
                            <td>
                                {{form.H3}}
                            </td>
                            <td>
                                {{form.H4}}
                            </td>
                            <td>
                                {{form.H5}}
                            </td>


                        <tr>
                            <td class="pr-3">I</td>
                            <td>
                                {{form.I1}}
                            </td>
                            <td>
                                {{form.I2}}
                            </td>
                            <td>
                                {{form.I3}}
                            </td>
                            <td>
                                {{form.I4}}
                            </td>
                            <td>
                                {{form.I5}}
                            </td>
                        </tr>

                        <tr>
                            <td class>J</td>
                            <td>
                                {{form.J1}}
                            </td>
                            <td>
                                {{form.J2}}
                            </td>
                            <td>
                                {{form.J3}}
                            </td>
                            <td>
                                {{form.J4}}
                            </td>
                            <td>
                                {{form.J5}}
                            </td>
                        </tr>
                        <tr>
                            <td><p> </p> </td>
                            <td colspan = "5">
                                <div class="screen">
                                    <h2>Screen this way</h2>
                                </div>
                            </td>
                        </tr>
                        <div class="displayerBoxes" style="overflow-x:auto;">
                            <table class="Displaytable" width="100%">
                            <tr>
                                <th>Name</th>
                                <th>Number of Seats</th>
                                <th>Seats</th>
                            </tr>
                            <tr>
                                <td>
                                    <input type="textarea" id="nameDisplay" name = "name">
                                </td>
                                <td>
                                    <input type= "textarea" id="NumberDisplay" name = "number">
                                </td>
                                <td>
                                    <input type ="textarea" id="seatsDisplay" name = "seats">
                                </td>
                            </tr>
                            </table>
                        </div>
                    </form>
                </table>
                
                
            </div>
            <button onclick="updateTextArea()" id="show">Confirm Selection</button>
        </div>
        <button type="submit" form="form1" value="Submit" onclick="enable()" id="sub">Submit</button>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script>
            $("#show").click(function(){
                $("#sub").show();
            });
            function onLoaderFunc() {
                $(".seatStructure *").prop("disabled", true);
                $(".displayerBoxes *").prop("disabled", true);
                $("#sub").hide();
            }
            function takeData() {
                if (($("#Username").val().length == 0) || ($("#Numseats").val().length == 0)) {
                    alert("Please Enter your Name and Number of Seats");
                } else {
                    $(".inputForm *").prop("disabled", true);
                    $(".seatStructure *").prop("disabled", false);
                    $("input:checked").prop("disabled", true);
                    document.getElementById("notification").innerHTML =
                        "<b style='margin-bottom:0px;background:#ff9800;letter-spacing:1px;'>Please Select your Seats NOW!</b>";
                }
            }
            function updateTextArea() {

                var Seats = $("input:disabled").length + parseInt($("#Numseats").val());
                Seats = Seats-2;

                if (($("input:checked").length) == Seats) {
                    var allNameVals = [];
                    var allNumberVals = [];
                    var allSeatsVals = [];
                    var allSeatDis = [];

                    //Storing in Array
                    allNameVals.push($("#Username").val());
                    allNumberVals.push($("#Numseats").val());
                    $('#seatsBlock :checked').each(function () {
                        allSeatsVals.push($(this).val());
                    });
                    $('#seatsBlock :disabled').each(function () {
                        allSeatDis.push($(this).val());
                    });
                    for (i = 0; i < ($("input:checked").length); i++){
                        for (j = 0; j < ($("input:disabled").length); j++){

                            if(allSeatsVals[i] == allSeatDis[j]){
                                allSeatsVals.splice(i,i+1);
                            }
                        }
                    }
                    $(".seatStructure *").prop("disabled", true);

                    //Displaying 
                    $('#nameDisplay').val(allNameVals);
                    $('#NumberDisplay').val(allNumberVals);
                    $('#seatsDisplay').val(allSeatsVals);
                } else {
                    alert("Please select " + ($("#Numseats").val()) + " seats");
                }    
            }
            function myFunction() {
                alert($("input:checked").length);
            }
            $(":checkbox").click(function () {
                if (($("input:checked").length) == Seats) {
                    alert("hai");
                    $(":checkbox").prop('disabled', true);
                    $(':checked').prop('disabled', false);
                } else {
                    $(":checkbox").prop('disabled', false);
                }
            });
            function enable() {
                $("input:checked").prop("disabled", false);
                $(".seatStructure *").prop("disabled", false);
                $(".displayerBoxes *").prop("disabled", false);
            }
        </script>
    </body>
</html>